.footer {
  width: 100%;
  max-width: 1440px;
  position: relative;
  @include media("<phablet") {
    background-color: $secondary;
  }
  &__content {
    width: 100%;
    max-width: 1036px;
    background-color: $secondary;
    display: flex;
    justify-content: space-between;
    @include media("<phablet") {
      flex-direction: column-reverse;
      padding: 40px 5px 0 5px;
    }
    p {
      font-size: 12px;
      color: $lightgrey;
      line-height: 80px;
      @include media("<phablet") {
        line-height: 16px;
        padding-bottom: 25px;
      }
    }
    &__nav {
      display: flex;
      justify-content: flex-end;
      padding-right: 20px;
      @include media("<phablet") {
        flex-direction: column;
        margin-bottom: 40px;
      }
      li {
        padding: 0 20px;
        @include media("<phablet") {
          padding: 0;
          margin-bottom: 20px;
        }
        a {
          font-size: 12px;
          line-height: 80px;
          color: $white;
          text-decoration: none;
          position: relative;
          @include media("<phablet") {
            font-size: 16px;
            line-height: 26px;
          }
          &:before {
            content: '';
            width: 0;
            height: 2px;
            background-color: $white;
            position: absolute;
            left: 0;
            bottom: -7px;
            transition: all 0.5s;
          }
          &:hover {
            &:before {
              width: 100%;
            }
          }
        }
      }

      &__info {
        width: 100%;
          &__links{
            a{
              display: inline-block;
              width: 100%;
              margin-bottom: 20px;
              color: #fff;
              text-decoration: none;
              font-size: 16px;
              line-height: 26px;
              span + span{
                margin-left: 6px;
              }
            }
          }
      }
    }
  }
  &:before {
    content: '';
    display: block;
    background-color: $secondary;
    position: absolute;
    height: 80px;
    bottom: 0;
    left: 0;
    width: 50vw;
    z-index: -1;
  }
  .container {
    padding-right: 0;
  }
}