<footer class="footer ">
  <!-- <div class="content__wrapper"> -->
  <div class="container">
    <div class="footer__content">
      <p>© Grupo Cargo Services</p>

      <ul class="footer__content__nav">
        <li>
          <a href="../privacy-policy/">Política de Privacidad</a>
        </li>
        <li>
          <a href="/legal-warning.html">Aviso legal</a>
        </li>
      </ul>
    </div>
  </div>

</footer>